<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Genius Lyrics</title>
</head>
<body>
    <h1>Enter an artist and song below</h1>
    <form action="/lyrics" method="post">
        <label for="artist">Enter artist</label>
        <input type="text" name="artist" id="artist">
        <label for="song">Enter song</label>
        <input type="text" name="song" id="song">
        <button type="submit">Submit</button>
    </form>
</body>
</html>